.navbar-brand {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
}

#header {
    background-image: url("gray_white_wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #9dbcd7;
}

.card-title {
    text-transform: capitalize;
}

.card {
    margin: 0 auto 10px;
    float: none;
    justify-items: center;

}